@charset "utf-8";
/* CSS Document */
.mainheader nav ul{
	list-style:none;
	margin-left:-10px;
	}
.form1{
	width: 80%;
	border-left: 1px solid #0CF;
	border-right: 1px solid #0CF;
	border-bottom: 1px solid #0CF;
	padding:3px;
	margin: 2px 30px;
	
	}

.formheading{
	border:1px solid #0CF;
	background:#0CF;
	border-radius:0px 0px 0px 0px;
	display:block;
	color:#FFF;
	padding:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	hieght: 50px;
	width: 80.5%;
	margin-left:30px;
	}
.formheading h1{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.headings{
	background:#CCC;
	font-weight:bold;
	margin-top:0px;
	font-size:16px;
	}

	#smale{
	margin-left:50%;

	}
#sfemale{
	}
textarea, select, input:not([type="radio"]){
	margin-top: 2px;
	padding: 2px 3px 7px 10px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
input:not([type="checkbox"]):active,
 input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 
fieldset{
	border:none;
	} 
.field1{
	float:left;
	width:45%;
	position:relative;
	overflow:hidden;
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px ;
	-moz-border-radius: 0px 0px 5px 5px;
		 border-radius: 0px 0px 5px 5px;
	}
	.field2{
    position:relative;
	float:left;
	width:45%;
	overflow:hidden;
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px ;
	-moz-border-radius: 0px 0px 5px 5px;
		 border-radius: 0px 0px 5px 5px;
	}
.field3{
	width:93%;
	overflow:hidden;
	position:relative;
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px ;
	-moz-border-radius: 0px 0px 5px 5px;
		 border-radius: 0px 0px 5px 5px;
	}
	.input_field {
	float:right;
	width:50%;
	
}
.send{
	width: 25%;
	margin-right: 5px;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
	}
@media only screen and (min-width:150px) and (max-width:600px){
	
	.formheading{
	font-family:Georgia, "Times New Roman", Times, serif;
	hieght: 50px;
	width: 90.5%;
	margin-left:30px;
	font-size:90%
	}
	#name{
	margin: 1% 5%;
	width:30%
	}
#sname{
	margin: 1% 5%;
	width:30%
	}
#smale{
	margin-left:14%;

	}
#sfemale{
	}
#dob{
	margin: 1% 5% 1% 3%;
	width:30%
	}
#national{
	margin: 1% 5%;
	width:30%
	}
#grade{
	margin: 1% 12%;
	width:30%
	}
#home{
	margin: 1% 5% 1% 0.5%;
	width:30%
	}
#landline{
	margin: 1% 5% 1% 2%;
	width:30%
	}
#mobile{
	margin: 1% 5% 1% 11.7%;
	width:30%
	}
#email{
	margin: 1% 5% 1% 12.5%;
	width:30%
	}
#apform{
	margin: 1% 0.1%;
	width:30%
	}
#username{
	margin: 1% 5% 1% 12%;
	width:30%
	}
#password{
	margin: 1% 5% 1% 12.5%;
	width:30%
	}
#cpassword{
	margin: 1% 5% 1% 0.2%;
	width:30%;
	}
	
	}